@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
    background-color: #2e3437;
}

i {
    margin-right: 5px;
    font-size: 15px;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 350px;
    max-height: 580px;
}

.login_icon {
    max-width: 210px;
    max-height: 210px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 46px;
}

.login_form {
    max-width: 350px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0 20px;
    display: inline-block;
    max-height: 42px;
    box-sizing: border-box;
    background-color: #24282A;
    border-radius: 5px;
    border: 0;
    outline: none;
}

.login_text {
    color: #EDEDEE;
    margin-left: 10px;
    font-size: 14px;
    font-family: Roboto, serif;
}

.login_button {
    margin-top: 20px;
    width: 100%;
    max-height: 42px;
    height: 40px;
    border-radius: 5px;
    background-color: #AFB1B3;
    color: black;
    font-size: 14px;
    font-family: Roboto, serif;
    border: 0;
    outline: none;
}

.google_button {
    margin-top: 13px;
    width: 100%;
    max-height: 42px;
    height: 40px;
    border-radius: 5px;
    background-color: #EF4A51;
    color: white;
    font-size: 14px;
    font-family: Roboto, serif;
    border: 0;
    outline: none;
}